@page "/blog"
@using Microsoft.EntityFrameworkCore
@inject AppDbContext db
@inject IJSRuntime jsRuntime

<PageTitle>Blog List</PageTitle>

<h3>Blog List</h3>

<a href="/blog/create" class="btn btn-outline-success">New</a>

@if(_blog is not null)
{
<table class="table table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
        </tr>
    </thead>
    @foreach (var item in _blog)
    {
            var editLink = $"/blog/edit/{item.BlogId}";
            <tbody>
            <tr>
                <td>
                    <NavLink href="@editLink" class="btn btn-outline-primary">Edit</NavLink>
                    <button type="button" class="btn btn-outline-danger" @onclick="() => Delete(item.BlogId)">Delete</button>
                </td>
                <td>@item.BlogId</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
            </tr>
        </tbody>
    }
</table>
}

@code {
    private List<BlogModel>? _blog;

    // protected override Task OnInitializedAsync()
    // {
    //     _blog = db.Blog.ToList();
    //     // No need => StateHasChanged();
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await List();
        }
    }

    private async Task List()
    {
        _blog = await db.Blog
                .OrderByDescending(x => x.BlogId)
                .ToListAsync();
        StateHasChanged();
    }

    private async Task Delete(int id)
    {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Are you sure want to delete?");
        if(!confirm) return;

        var item = await db.Blog.FirstOrDefaultAsync(x => x.BlogId == id);
        if (item is null)
        {
            await jsRuntime.InvokeVoidAsync("alert", "No data found.");
            return;
        }

        db.Entry(item).State = EntityState.Deleted;
        var result = await db.SaveChangesAsync();
        await jsRuntime.InvokeVoidAsync("alert", result > 0 ? "Deleting Successful." : "Deleting Failed.");
        await List();
    }
}
